body {
  font-family: "Lato", sans-serif;
}

@media (min-width: 992px) {
  body {
    padding: 40px 15%;
    background: #e7e7e7;
  }
}

input {
  width: 95%;
  padding: 2%;
}

textarea {
  padding: 2%;
  width: 96%;
}

select {
  padding: 2%;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

.info-box-left {
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  background: white;
  padding: 8% 0;
  text-align: center;
}

@media (min-width: 992px) {
  .info-box-left {
    margin: 30px 0px;
  }
}

.info-box-right {
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  background: white;
  padding: 8% 0;
  text-align: center;
}

@media (min-width: 992px) {
  .info-box-right {
    margin: 30px 0px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  align-content: space-around;
  padding-top: 0px;
}

@media (min-width: 992px) {
  .row {
    flex-direction: row;
    align-content: space-around;
    padding: 20px 5%;
  }
}

.full-row {
  padding-top: 20px;
  width: 100%;
  background: white;
}

@media (min-width: 992px) {
  .full-row {
    padding: 20px 5%;
  }
}

.dark {
  background: #f8f8f8;
}

.flex-left {
  flex: 100%;
  padding-top: 20px;
}

@media (min-width: 992px) {
  .flex-left {
    padding-top: 0px;
    text-align: left;
    padding-right: 20px;
  }
}

.flex-right {
  flex: 100%;
  padding-top: 20px;
}

@media (min-width: 992px) {
  .flex-right {
    padding-top: 0px;
    text-align: left;
    padding-left: 20px;
  }
}

.flex-left-2 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-2 {
    padding-top: 0px;
    flex: 16.6666666667%;
  }
}

.flex-left-3 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-3 {
    padding-top: 0px;
    flex: 25%;
  }
}

.flex-left-4 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-4 {
    padding-top: 0px;
    flex: 33.3333333333%;
  }
}

.flex-left-5 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-5 {
    padding-top: 0px;
    flex: 41.6666666667%;
  }
}

.flex-left-6 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-6 {
    padding-top: 0px;
    flex: 50%;
  }
}

.flex-left-7 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-7 {
    padding-top: 0px;
    flex: 58.3333333333%;
  }
}

.flex-left-8 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-8 {
    padding-top: 0px;
    flex: 66.6666666667%;
  }
}

.flex-left-9 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-9 {
    padding-top: 0px;
    flex: 75%;
  }
}

.flex-left-10 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-10 {
    padding-top: 0px;
    flex: 83.3333333333%;
  }
}

.flex-left-11 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-11 {
    padding-top: 0px;
    flex: 91.6666666667%;
  }
}

.flex-left-12 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-left-12 {
    padding-top: 0px;
    flex: 100%;
  }
}

.flex-right-2 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-2 {
    padding-top: 0px;
    flex: 16.6666666667%;
  }
}

.flex-right-3 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-3 {
    padding-top: 0px;
    flex: 25%;
  }
}

.flex-right-4 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-4 {
    padding-top: 0px;
    flex: 33.3333333333%;
  }
}

.flex-right-5 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-5 {
    padding-top: 0px;
    flex: 41.6666666667%;
  }
}

.flex-right-6 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-6 {
    padding-top: 0px;
    flex: 50%;
  }
}

.flex-right-7 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-7 {
    padding-top: 0px;
    flex: 58.3333333333%;
  }
}

.flex-right-8 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-8 {
    padding-top: 0px;
    flex: 66.6666666667%;
  }
}

.flex-right-9 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-9 {
    padding-top: 0px;
    flex: 75%;
  }
}

.flex-right-10 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-10 {
    padding-top: 0px;
    flex: 83.3333333333%;
  }
}

.flex-right-11 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-11 {
    padding-top: 0px;
    flex: 91.6666666667%;
  }
}

.flex-right-12 {
  flex: 100%;
  padding-top: 20px;
  align-self: center;
}

@media (min-width: 992px) {
  .flex-right-12 {
    padding-top: 0px;
    flex: 100%;
  }
}

.o-1 {
  order: 1;
}

@media (min-width: 992px) {
  .o-1 {
    order: 2;
  }
}

.o-2 {
  order: 2;
}

@media (min-width: 992px) {
  .o-2 {
    order: 1;
  }
}

